.paginationBullet {
  border-radius: 12px;
  width: 52px;
}

@media (max-width: 768px) {
  .paginationBullet {
    width: 32px;
  }
}

.activePaginationBullet {
  background: #ff572d !important;
  opacity: 1 !important;
}

.swiperWrapper {
  display: flex;
  gap: 24px;
  height: 750px !important;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .swiperWrapper {
    height: 500px !important;
    margin-bottom: 80px;
  }
}

.swiperContainer {
  width: 100%;
  height: auto !important;
}

.swiperSlide {
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px !important;
}
