.bg {
  background:
    linear-gradient(270deg, rgba(0, 0, 0, 0.43) 0%, rgba(0, 0, 0, 0.15) 85.67%),
    url('./hero.jpg') lightgray 50% / cover no-repeat;
  background-size: cover;
  object-fit: cover;

  @media (max-width: 768px) {
    background:
      linear-gradient(270deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.85) 100%),
      url('./hero.jpg') lightgray -403.655px 0px / 273.504% 100% no-repeat;
    background-size: cover;
    object-fit: cover;
  }
}
